### build/gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

### source
!**/src/main/**/build/
!**/src/test/**/build/

### secure
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### OS
**/.DS_Store

### docs
docs/develop/TO_DO_LIST.md
